baseURL = "/"
languageCode = "en-us"
title = "Practical SRE & DevOps guides. Linux debugging."
theme = "hugo-bearblog"

[menu]

  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    name = "Blog"
    url = "/blog/"
    weight = 2
